<div class="modal fade" id="addToMyCalendarModal" tabindex="-1" role="dialog" aria-labelledby="addToMyCalendarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 add-calendar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>